body {
    background: linear-gradient(to right, #F497A9, #FADADD, #FFFFFF);
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 100px;
    position: relative;
    color: #F497A9;
}

#search {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btn-search {
    background-color: #F497A9;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#btn-search:hover {
    border: solid 1px;
    background-color: white;
    color: #F497A9;
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#product-container div {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

#product-container img {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.pagination-button {
    margin: 20px 10px;
    padding: 10px 15px;
    border: none;
    background-color: #F497A9;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
    background-color: #F06292;
}



.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #F497A9, #FADADD);
    padding: 15px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    border-radius: 0 0 10px 10px; /* Bordes redondeados solo abajo */
}

.nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row; /* Asegurar que los elementos estén en fila */
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav ul li {
    margin: 0; /* Eliminar el margen vertical */
}

.nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
}

.nav ul li a:hover {
    background-color: white;
    color: #F497A9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#Num-pages {
    margin: 0;
    padding: 5px 10px;
    font-weight: bold;
    white-space: nowrap; /* Evita saltos de línea */
}

.container-pages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}